@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.capriola-font {
    font-family: var(--capriola-font);
}
.roboto-font {
    font-family: var(--roboto-font);
}
.adventpro-font {
  font-family: var(--advent-pro-font);
}
.publicsans-font {
  font-family: var(--public-sans-font);
}
.robotoslab-font {
  font-family: var(--roboto-slab-font);
}